@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  color-scheme: dark light;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #111;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-ExtraLight.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
}